header {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--white-color);
    height: 100px;
}

.header-nav{
    display: flex;
    justify-content: end;
    width: 100%;
    align-items: center;
    font-size: 18px;
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    color: var(--primary-background-color);
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    height: 20px;
    font-size: 18px;
    text-align: center;
    align-items: center;
    font-family: sans-serif;
}

#icon{
    align-items: end;
}

.account_login{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: var(--primary-background-color);
    padding: 15px 10px 15px 15px;
}

.account_login svg{
    width: 25px;
    height: 25px;
}

.account_login p{
    font-size: 18px;
    font-family: sans-serif;
}

.signup-button {
    background-color: var(--white-color);
    color: var(--primary-background-color);
    font-size: 18px;
    border: 2px solid var(--primary-background-color);
    align-items: center;
    display: flex;
    gap: 5px;
    font-family: sans-serif;
    border-radius: 30px;
    padding: 18px 30px;
}

.header-nav button{
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 10px;
    background-color: var(--white-color);
    border-radius: 20px;
    border: 2px solid var(--primary-background-color);
    color: var(--primary-background-color);
    font-size: 18px;
    font-family: sans-serif;
}

.nav-menu-item{
    display: flex;
    cursor: pointer;
    z-index: 1;
}

.nav-menu-item p{
    margin-left: 5px;
}

.nav-menu-item svg{
    width: 25px;
    height: 25px;
}

.cart{
    margin-bottom: 30px;
}

.cart-icon {
    position: relative;
}

.cart-count {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    background-color: var(--primary-background-color);
    color: var(--white-color);
    border-radius: 50%;
    padding: 4px;
    font-size: 12px;
    width: 22px;
    height: 22px;
    text-align: center;
    font-family: sans-serif;
}

input[type="text"] {
    margin: 0.5em 0;
    width: 12em;
}

.searchBar {
    width: 62%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 20%;
    left: calc(50% - 10px);
    transform: translateX(-50%);
}

#searchQueryInput {
    width: 300px;
    height: 2.8rem;
    background: var(--white-color);
    outline: none;
    border: 0.2px solid var(--primary-background-color);
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

#searchQuerySubmit {
    width: 3.5rem;
    height: 2.8rem;
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
}

#searchQuerySubmit:hover {
    cursor: pointer;
}

@media (max-width: 1100px) {
    header {
        flex-direction: column;
        display: inline-block;
        height: 200px;
    }

    .container{
        display: inline-block;
    }

    .header-nav{
        align-items: flex-start;
        justify-content: start;
    }

    .searchBar{
        width: 300px;
        top: 20%;
    }

    .signup-button{
        white-space: nowrap;
    }
}

@media (max-width: 800px) {
    .searchBar{
        width: 300px;
        top: 20%;
    }
}
